@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "montserrat",sans-serif;
  line-height: 1.6; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.wrapper {
  padding: 1.5rem;
  max-width: 120rem;
  margin: 0 auto; }
  @media (min-width: 697px) {
    .wrapper {
      padding: 1.5rem 3.5rem; } }
  @media (min-width: 914px) {
    .wrapper {
      padding: 1.5rem 7.5rem; } }

.preloader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #F94F4F;
  z-index: 10000000; }
  .preloader::before {
    content: "Loading";
    position: absolute;
    font-size: 9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.1); }
    @media (min-width: 914px) {
      .preloader::before {
        font-size: 15rem; } }
  .preloader__counter {
    position: relative;
    color: white;
    font-size: 9rem;
    font-weight: bold;
    z-index: 1; }
    .preloader__counter::after {
      content: "%";
      font-size: 7rem; }
    @media (min-width: 914px) {
      .preloader__counter {
        font-size: 18rem; } }
  .preloader .hide {
    opacity: 0;
    transition: 1s;
    pointer-events: none; }

.preloader.active {
  transform: translateY(-100vh);
  transition: ease-in-out 2s; }

.motab-navigation__checkbox {
  display: none; }

.motab-navigation__button {
  background-color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.motab-navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 1.5rem;
  background-image: radial-gradient(#38475A, #F94F4F);
  z-index: 1000;
  transition: all .6s ease-in-out; }

.motab-navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all .6s ease-in-out; }

.motab-navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.motab-navigation__link:link, .motab-navigation__link:visited {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding: 1rem 2rem;
  display: inline-block;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 230%;
  transition: all .4s; }

.motab-navigation__link:hover {
  background-position: 100%;
  color: #F94F4F;
  transform: translateX(1rem); }

.motab-navigation__checkbox:checked ~ .motab-navigation__background {
  transform: scale(110); }

.motab-navigation__checkbox:checked ~ .motab-navigation__nav {
  opacity: 1;
  width: 100%; }

.motab-navigation__icon {
  position: relative;
  margin-top: 2.3rem; }
  .motab-navigation__icon, .motab-navigation__icon::before, .motab-navigation__icon::after {
    width: 3rem;
    height: .3rem;
    background: #38475A;
    display: inline-block; }
  .motab-navigation__icon::before, .motab-navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .motab-navigation__icon::before {
    top: -.8rem; }
  .motab-navigation__icon::after {
    top: .8rem; }

.motab-navigation__button:hover .motab-navigation__icon::before {
  top: -1rem; }

.motab-navigation__button:hover .motab-navigation__icon::after {
  top: 1rem; }

.motab-navigation__checkbox:checked + .motab-navigation__button .motab-navigation__icon {
  background-color: transparent; }

.motab-navigation__checkbox:checked + .motab-navigation__button .motab-navigation__icon::before {
  top: 0;
  transform: rotate(45deg); }

.motab-navigation__checkbox:checked + .motab-navigation__button .motab-navigation__icon::after {
  top: 0;
  transform: rotate(-45deg); }

@media (min-width: 1500px) {
  .motab-navigation {
    display: none; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; }
  .header__logo .logo {
    height: 5rem; }
  .header__ham .ham {
    height: 2.3rem; }
  .header__brand {
    display: none; }
  .header__navigation {
    display: none; }
  @media (min-width: 914px) {
    .header__logo .logo {
      height: 4.3rem; }
    .header__brand {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: 1.2rem;
      font-variant: small-caps; }
      .header__brand--main {
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: -1.5rem; }
      .header__brand--subtitle {
        font-size: 1.7rem;
        margin-top: -1rem;
        letter-spacing: .4rem; } }
  @media (min-width: 1500px) {
    .header__ham {
      display: none; }
    .header__navigation {
      display: flex; }
    .header__items {
      display: flex; }
    .header__item {
      margin-left: 2rem; }
    .header__link {
      font-size: 1.1rem;
      color: #38475A; }
      .header__link--cta {
        font-size: 1.1rem;
        background: #F94F4F;
        padding: 1rem 2rem;
        color: white;
        border-radius: 1.1rem;
        font-weight: bold; } }

.light_grey_bg {
  background: #FBFBFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 25rem 0; }
  @media (min-width: 1500px) {
    .light_grey_bg {
      padding: 0rem;
      height: 100vh; } }
  .light_grey_bg .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .light_grey_bg .hero_illu {
      width: 20rem; }
      .light_grey_bg .hero_illu .illu {
        width: 100%; }
    .light_grey_bg .hero .text-box {
      margin: 3rem 2rem 0;
      text-align: center; }
      .light_grey_bg .hero .text-box__heading-primary {
        font-size: 3rem;
        color: #38475A; }
        @media (min-width: 914px) {
          .light_grey_bg .hero .text-box__heading-primary {
            font-size: 4rem; } }
        .light_grey_bg .hero .text-box__heading-primary .orange {
          color: #F94F4F; }
      .light_grey_bg .hero .text-box__subtitle {
        font-size: 1.3rem;
        margin-top: 2rem;
        color: #38475A;
        margin-bottom: 2.2rem;
        opacity: 80%; }
      .light_grey_bg .hero .text-box__cta {
        display: flex;
        justify-content: center; }
      .light_grey_bg .hero .text-box__cta1 {
        background: #38475A;
        color: white;
        font-weight: bold;
        padding: 1.3rem 4rem;
        font-size: 1.2rem;
        border-radius: 1.1rem; }
      .light_grey_bg .hero .text-box__cta2 {
        border: 1px solid #38475A;
        color: #38475A;
        font-weight: bold;
        margin-left: .9rem;
        font-size: 1.2rem;
        padding: 1.3rem 5rem;
        border-radius: 1.1rem; }
      @media (min-width: 545px) {
        .light_grey_bg .hero .text-box {
          margin: 3rem 5rem 0; }
          .light_grey_bg .hero .text-box__cta1 {
            padding: 1.3rem 6rem; } }
    @media (min-width: 545px) {
      .light_grey_bg .hero {
        height: 80vh; } }
    @media (min-width: 914px) {
      .light_grey_bg .hero {
        flex-direction: row; }
        .light_grey_bg .hero::before {
          content: " ";
          position: absolute;
          background: #F5F5FC;
          right: 0;
          top: 0;
          width: 55%;
          height: 100%;
          clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0 100%);
          z-index: -1; }
        .light_grey_bg .hero_illu {
          order: 1;
          width: 90%;
          margin-right: -10%; }
        .light_grey_bg .hero .text-box {
          margin: 0;
          text-align: left;
          margin-right: 9rem; }
          .light_grey_bg .hero .text-box .block {
            display: block; }
          .light_grey_bg .hero .text-box__subtitle {
            margin-top: .7rem;
            margin-bottom: 4rem; }
          .light_grey_bg .hero .text-box__cta {
            justify-content: flex-start; }
          .light_grey_bg .hero .text-box__cta1 {
            margin: 0;
            padding: 1rem 3rem; }
          .light_grey_bg .hero .text-box__cta2 {
            padding: 1rem 3rem; } }
    @media (min-width: 1500px) {
      .light_grey_bg .hero::before {
        width: 59%; }
      .light_grey_bg .hero_illu {
        order: 1;
        width: 60%;
        margin-right: 0rem; } }

.plans {
  margin-top: 1.5rem;
  text-align: center; }
  .plans__smallhead {
    color: #F94F4F;
    font-size: 1.5rem; }
  .plans__headsec {
    font-size: 2.3rem;
    margin-bottom: 2rem; }
  .plans__sliders {
    display: flex;
    align-items: center;
    justify-content: sp;
    background: #F94F4F;
    border-radius: 3.5rem;
    margin: 0 7rem;
    margin-bottom: 5rem; }
  .plans__premium {
    background: white;
    flex: 1;
    border-radius: 3.5rem;
    padding: 1.4rem 1rem;
    margin: .09rem;
    font-size: 1.3rem;
    font-weight: bold; }
  .plans__Boxplex {
    background: #F94F4F;
    flex: 1;
    border-radius: 3.5rem;
    color: white;
    font-weight: bold;
    font-size: 1.3rem; }
  .plans__cards {
    margin: 0 2.5rem;
    color: #38475A;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-gap: 2rem; }
  .plans__card {
    background-color: #FBFBFF;
    margin: 0 2rem;
    padding: 2.5rem 2rem 0;
    border-radius: 1.1rem; }
  .plans__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    margin-bottom: 2rem; }
  .plans__bd {
    font-size: 1.6rem;
    position: relative; }
    .plans__bd::before {
      content: "";
      width: 4rem;
      height: 2rem;
      background: #F94F4F;
      position: absolute;
      margin-left: -2rem;
      margin-top: .21rem;
      opacity: 10%; }
  .plans__stansup {
    font-weight: normal;
    font-style: italic; }
  .plans__price {
    font-size: 7rem;
    position: relative;
    border-top: 1px solid rgba(112, 112, 112, 0.26);
    border-bottom: 1px solid rgba(112, 112, 112, 0.26);
    margin-bottom: 2rem; }
    .plans__price::before {
      content: "$";
      position: absolute;
      font-size: 1.5rem;
      margin-top: 2.8rem;
      margin-left: -2rem;
      font-weight: normal; }
    .plans__price::after {
      content: "/ mo";
      margin-left: .5rem;
      font-size: 1.5rem;
      font-weight: normal; }
  .plans__details {
    margin-bottom: 2rem; }
  .plans .price__details {
    margin-bottom: 2rem; }
  .plans .price__detail {
    margin-bottom: 1.2rem;
    font-size: 1.3rem; }
  .plans__apply {
    width: 100%;
    padding: .7rem 0;
    border-radius: 1.1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    background-color: #F94F4F;
    color: white;
    font-weight: bold; }
  @media (min-width: 914px) {
    .plans {
      margin: 5rem 0; }
      .plans__sliders {
        margin: 0 23rem 6rem; }
      .plans__cards {
        margin: 0; }
      .plans__card {
        margin: 0; } }
  @media (min-width: 1500px) {
    .plans__sliders {
      margin: 0 35rem 6rem; }
    .plans__cards {
      grid-template-columns: repeat(auto-fit, minmax(24.7rem, 1fr)); } }

.features {
  margin-top: 8rem;
  text-align: center;
  color: #38475A; }
  .features__smallhead {
    color: #F94F4F;
    font-size: 1.5rem; }
  .features__headsec {
    font-size: 2.3rem;
    margin-bottom: 5rem; }
  .features__cards {
    margin: 0 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-gap: 2rem; }
  .features__card {
    background-color: #FBFBFF;
    margin: 0 2em;
    padding: 2.5rem 3rem;
    border-radius: 1.1rem;
    border-bottom: 1px solid #F94F4F;
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem; }
  .features__num {
    font-size: 1.6rem;
    position: relative;
    margin-bottom: 2rem;
    text-align: left; }
    .features__num::before {
      content: "";
      width: 4rem;
      height: 2rem;
      background: #F94F4F;
      position: absolute;
      margin-left: -2rem;
      margin-top: .21rem;
      opacity: 10%; }
  .features__illulink {
    width: 15rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem; }
  .features__illu {
    width: 100%; }
  .features__head {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1.5rem; }
  .features__detail {
    font-size: 1.1rem;
    opacity: 80%;
    line-height: 1.9; }
  @media (min-width: 914px) {
    .features {
      margin: 10rem 0; }
      .features__headsec {
        margin-bottom: 6rem; }
      .features__cards {
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr)); }
      .features__card {
        margin: 0; }
      .features__illu--modifier1 {
        width: 90%; }
      .features__illu--modifier2 {
        width: 18rem; } }

.light_grey_bg {
  height: 60vh; }
  .light_grey_bg .building {
    text-align: center; }
    .light_grey_bg .building__brands {
      width: 60%;
      margin-bottom: 3rem; }
    .light_grey_bg .building__details {
      margin: 0 6rem; }
    .light_grey_bg .building__smallhead {
      color: #F94F4F;
      font-size: 1.5rem; }
    .light_grey_bg .building__headsec {
      font-size: 2.3rem;
      margin-bottom: 1.5rem; }
    .light_grey_bg .building .heart {
      display: inline-block;
      width: 2rem;
      margin-left: .6rem;
      margin-bottom: 2rem; }
      .light_grey_bg .building .heart img {
        width: 100%; }
    .light_grey_bg .building__detail {
      font-size: 1.3rem;
      opacity: 60%;
      margin: 0 -2rem; }
  @media (min-width: 914px) {
    .light_grey_bg {
      height: 70vh;
      padding: 0; }
      .light_grey_bg .building {
        display: flex;
        align-items: center; }
        .light_grey_bg .building__brands {
          order: 1;
          width: 50%;
          margin: 0; }
        .light_grey_bg .building__smallhead {
          font-size: 1.1rem;
          position: relative; }
          .light_grey_bg .building__smallhead::before {
            content: "";
            position: absolute;
            width: 12rem;
            height: .1rem;
            margin-left: 13rem;
            margin-top: 1rem;
            opacity: 20%;
            background: #38475A; }
        .light_grey_bg .building__headsec {
          font-size: 3rem;
          margin-bottom: 0;
          margin-right: 9rem;
          max-width: 28.4rem; }
        .light_grey_bg .building .heart {
          width: 3rem; }
        .light_grey_bg .building__details {
          text-align: left;
          margin: 0; }
        .light_grey_bg .building__detail {
          margin: 0;
          margin-right: 2rem; } }

.prod-det {
  margin-top: 4rem;
  text-align: center;
  color: #38475A;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  align-items: end; }
  .prod-det__box1 {
    background: url("/img/undraw_happy_announcement_ac67.png");
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: top;
    display: flex;
    flex-direction: column;
    padding-top: 6.6rem;
    line-height: 1.4;
    margin-bottom: 4rem; }
  .prod-det__box2 {
    background: url("/img/undraw_going_offline_ihag.png");
    height: 20vh;
    background-repeat: no-repeat;
    background-size: 10rem;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 7.7rem;
    line-height: 1.4;
    margin-bottom: 4rem; }
  .prod-det__box3 {
    background: url("/img/undraw_team_spirit_hrr4.png");
    height: 20vh;
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 7.7rem;
    line-height: 1.4;
    margin-bottom: 4rem; }
  .prod-det__box4 {
    background: url("/img/undraw_having_fun_iais.png");
    height: 20vh;
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 7.7rem;
    line-height: 1.4;
    margin-bottom: 4rem; }
  .prod-det__num {
    font-weight: bold;
    color: #F94F4F;
    font-size: 3.5rem;
    letter-spacing: 1.2rem; }
  .prod-det__sub {
    font-size: 1.3rem;
    letter-spacing: .2rem;
    margin-left: -1.5rem; }
  @media (min-width: 914px) {
    .prod-det {
      margin: 9rem 0;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); } }
  @media (min-width: 1500px) {
    .prod-det {
      margin: 9rem -4.1rem;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); } }

.throttle {
  color: #38475A;
  margin: 4rem 0; }
  .throttle__ref {
    display: none; }
  .throttle__description {
    text-align: center;
    margin: 0 4rem; }
  .throttle__smallhead {
    color: #F94F4F;
    font-size: 1.5rem; }
  .throttle__headsec {
    font-size: 2.3rem;
    margin-bottom: 2.5rem; }
  .throttle__join {
    border: none;
    background-color: #F94F4F;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 1rem 0;
    border-radius: 1.1rem;
    margin-bottom: 5rem; }
  .throttle__feature {
    margin-bottom: 3rem; }
  .throttle__features--head {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: .5rem; }
  .throttle__features--det {
    line-height: 1.9;
    font-size: 1.1rem;
    opacity: 80%; }
  @media (min-width: 914px) {
    .throttle {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .throttle__ref {
        display: block;
        width: 50%; }
        .throttle__ref--img {
          width: 100%; }
      .throttle__description {
        text-align: left;
        margin: 0 0 0 4rem; }
      .throttle__smallhead {
        font-size: 1.1rem; }
      .throttle__headsec {
        font-size: 2.6rem;
        margin-bottom: 2rem;
        max-width: 28.4rem; }
      .throttle__join {
        width: 15rem; }
      .throttle__features {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .throttle__features--head {
          max-width: 2rem; }
        .throttle__features--det {
          max-width: 15rem; }
      .throttle img.icon {
        width: 2.5rem; } }
  @media (min-width: 1500px) {
    .throttle__description {
      flex: 1;
      margin-left: 8rem; }
    .throttle__features--det {
      max-width: 20rem; } }

.discord-add {
  color: #38475A;
  margin: 9rem 0 6rem; }
  .discord-add__heading {
    margin: 0 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .discord-add__heading--logo {
      width: 17rem; }
      .discord-add__heading--logo .idea {
        width: 100%; }
    .discord-add__heading--desc {
      line-height: 1.9;
      font-size: 1.1rem;
      opacity: 80%;
      text-align: center; }
  .discord-add__img {
    display: none; }
  .discord-add__steps {
    margin: 0 2.5rem;
    color: #38475A;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem; }
  .discord-add__step {
    background-color: #FBFBFF;
    margin: 0 2em;
    padding: 2.5rem 2rem;
    border-radius: 1.1rem;
    position: relative; }
    .discord-add__step:not(:last-child)::after {
      position: absolute;
      content: url("/img/arrow.png");
      transform: rotate(90deg);
      right: 0;
      top: 40%; }
    .discord-add__step--head {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column; }
    .discord-add__step--head1 {
      font-size: 5rem;
      opacity: 70%;
      font-weight: bold;
      color: #F94F4F; }
    .discord-add__step--head2 {
      font-size: 2rem;
      font-weight: bold;
      position: relative; }
      .discord-add__step--head2::after {
        content: "";
        position: absolute;
        width: 3rem;
        height: .6rem;
        background: #38475A;
        margin-top: 3.5rem;
        margin-left: -16.1rem;
        opacity: 34%; }
    .discord-add__step--des {
      line-height: 1.9;
      font-size: 1.1rem; }
  @media (min-width: 914px) {
    .discord-add {
      margin: 7rem 0; }
      .discord-add__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        text-align: left;
        margin: 0; }
        .discord-add__heading--desc {
          text-align: left;
          font-size: 1.4rem;
          font-weight: bold; }
      .discord-add__img {
        display: block;
        width: 100%;
        margin-top: 5rem; }
      .discord-add__steps {
        grid-gap: 2rem;
        margin: 0;
        margin-top: 8rem; }
      .discord-add__step {
        margin: 0; }
        .discord-add__step:not(:last-child)::after {
          transform: rotate(0deg);
          margin-right: -1.2rem;
          margin-top: 1rem; }
        .discord-add__step--head2 {
          font-size: 2rem;
          font-weight: bold;
          position: relative; }
          .discord-add__step--head2::after {
            content: "";
            position: absolute;
            width: 3rem;
            height: .6rem;
            background: #38475A;
            margin-top: 3.5rem;
            margin-left: -16.1rem;
            opacity: 34%; } }
  @media (min-width: 1500px) {
    .discord-add__steps {
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); }
    .discord-add__step {
      margin: 0; }
      .discord-add__step--head2 {
        font-size: 1.6rem;
        font-weight: bold;
        position: relative; }
        .discord-add__step--head2::after {
          content: "";
          position: absolute;
          width: 3rem;
          height: .6rem;
          background: #38475A;
          margin-top: 3.5rem;
          margin-left: -12.9rem;
          opacity: 34%; } }

.moboapp {
  text-align: center;
  color: #38475A; }
  .moboapp__name {
    font-size: 7rem;
    opacity: 9%;
    margin-bottom: 2rem; }
  .moboapp__detail {
    margin-bottom: 5rem; }
  .moboapp__icon {
    width: 6rem;
    margin-bottom: 1rem; }
  .moboapp_des {
    font-size: 1.1rem;
    margin: 0 9rem 2rem; }
  .moboapp__playstore {
    width: 22rem; }
  .moboapp__ss {
    display: none; }
  @media (min-width: 914px) {
    .moboapp__ss {
      display: block;
      width: 40%; }
    .moboapp__name {
      text-align: left; }
    .moboapp__details {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .moboapp__detail {
      text-align: left;
      margin-left: 4rem;
      margin-bottom: 0; }
    .moboapp_des {
      margin: 0;
      margin-bottom: 2rem; } }

.evo-user {
  text-align: center;
  color: #38475A; }
  .evo-user__man {
    width: 20rem;
    margin-top: -7rem; }
  .evo-user__heading {
    font-weight: bold;
    font-size: 3rem;
    opacity: 50%;
    margin-bottom: 2rem; }
  .evo-user__quotes {
    line-height: 1.9;
    margin: 0 4rem;
    opacity: 80%;
    font-size: 1.1rem; }
    .evo-user__quotes::before {
      content: open-quote; }
    .evo-user__quotes::after {
      content: close-quote; }
  .evo-user__name {
    font-size: 1rem;
    font-style: italic;
    margin-top: .9rem; }
    .evo-user__name::before {
      content: "--";
      color: #F94F4F; }
  @media (min-width: 914px) {
    .evo-user {
      display: flex;
      align-items: center;
      position: relative; }
      .evo-user__heading {
        position: absolute;
        top: -5rem;
        margin-left: -6rem;
        font-size: 5rem;
        opacity: 16%; }
      .evo-user__details {
        text-align: left; }
      .evo-user__man {
        width: 30rem;
        margin-top: -7rem; }
      .evo-user__quotes {
        margin: 0;
        margin-bottom: 2rem;
        margin-right: 8rem; }
      .evo-user__name {
        font-size: 2rem;
        color: #F94F4F; } }
  @media (min-width: 1500px) {
    .evo-user {
      padding: 0 8rem; }
      .evo-user__quotes {
        margin-right: 8rem; } }

.evo-team {
  text-align: center;
  margin: 4rem 0;
  color: #38475A; }
  .evo-team__smallhead {
    color: #F94F4F;
    font-size: 1.5rem; }
  .evo-team__headsec {
    font-size: 2.3rem;
    margin-bottom: 1rem; }
  .evo-team__sub {
    font-size: 1.1rem;
    margin: 0 5rem; }
  .evo-team__members {
    margin: 5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 2rem; }
  .evo-team__member {
    background-color: #FBFBFF;
    margin: 0 2em;
    border-radius: 1.1rem;
    border-bottom: 1px solid #F94F4F;
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    transition: all .5s; }
    .evo-team__member--social {
      display: block;
      position: absolute;
      opacity: 0;
      transition: all 0.9s; }
    .evo-team__member--twitter {
      display: block;
      padding: 2rem;
      transform: translateX(-3rem) rotate(180deg);
      transition: all 0.2s ease-in-out; }
    .evo-team__member--instagram {
      display: block;
      padding: 6rem 2rem;
      transform: translateX(-3rem) rotate(180deg);
      transition: all 0.2s .2s ease-in-out; }
    .evo-team__member--facebook {
      display: block;
      padding: 10rem 2rem;
      transform: translateX(-3rem) rotate(180deg);
      transition: all 0.2s .4s ease-in-out; }
    .evo-team__member--photo {
      width: 100%;
      border-top-left-radius: 1.1rem;
      border-top-right-radius: 1.1rem; }
    .evo-team__member--deatils {
      padding: 2rem; }
    .evo-team__member--name {
      font-size: 1.8rem; }
    .evo-team__member--quote {
      font-size: 1.1rem;
      opacity: 80%; }
    .evo-team__member:hover {
      background-color: #F94F4F; }
      .evo-team__member:hover .evo-team__member--name {
        color: white; }
      .evo-team__member:hover .evo-team__member--quote {
        color: white; }
      .evo-team__member:hover .evo-team__member--social {
        display: block;
        opacity: 100%;
        transform: translateX(0); }
  @media (min-width: 914px) {
    .evo-team {
      margin: 5rem 0; }
      .evo-team__heading {
        margin-bottom: 5rem; }
      .evo-team__member {
        margin: 0; }
      .evo-team__members {
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }

.Joining {
  color: #38475A;
  text-align: center;
  margin: 0 4rem; }
  .Joining__headsec {
    font-size: 2.2rem;
    margin-bottom: 1rem; }
    .Joining__headsec--orange {
      color: #F94F4F; }
  .Joining .joining__description {
    font-size: 1.1rem;
    line-height: 1.9;
    margin-bottom: 2.2rem; }
  .Joining .joining__join {
    border: none;
    background-color: #F94F4F;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 1rem 0;
    border: 1px solid #F94F4F;
    border-radius: 1.1rem;
    margin-bottom: 5rem;
    transition: all .3s; }
    .Joining .joining__join:hover {
      background: white;
      color: #F94F4F; }
  .Joining__img {
    display: none; }
  @media (min-width: 914px) {
    .Joining {
      margin: 0;
      margin-top: 10rem;
      margin-bottom: 10rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .Joining__img {
        display: block;
        width: 50%; }
      .Joining__details {
        text-align: left; }
      .Joining__headsec {
        font-size: 3rem;
        max-width: 20rem; }
      .Joining p {
        margin-right: 6rem; }
      .Joining .joining__join {
        margin-bottom: 0;
        width: 15rem; } }

.extra-sub {
  display: none; }
  @media (min-width: 914px) {
    .extra-sub {
      display: block;
      text-align: center;
      font-size: 1.1rem;
      margin-top: -5rem;
      margin-bottom: 5rem; } }

.powered-by {
  text-align: center;
  color: #38475A; }
  .powered-by__hearding {
    font-size: 2.2rem;
    position: relative;
    margin-bottom: 2rem; }
    .powered-by__hearding::after {
      content: "";
      position: absolute;
      width: 11rem;
      height: .3rem;
      bottom: 0;
      margin-bottom: -.4rem;
      opacity: 40%;
      margin-left: -13.8rem;
      background: #38475A; }
  .powered-by__companies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    justify-items: center;
    align-items: center;
    grid-gap: 2rem; }
  .powered-by__logo {
    width: 15rem; }
  @media (min-width: 914px) {
    .powered-by {
      text-align: left;
      margin: 7rem 0; }
      .powered-by__companies {
        margin: 0; } }
  @media (min-width: 1500px) {
    .powered-by__companies {
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
      margin: 0; } }

.footer {
  background: #38475A;
  color: white;
  text-align: center;
  margin: 4rem 0 0;
  padding: 2rem 0; }
  .footer__heading {
    height: 4rem;
    margin-bottom: 2rem; }
  .footer__links {
    display: flex;
    flex-direction: column; }
  .footer__policy--link {
    margin-bottom: 1rem;
    font-size: 1.1rem; }
  .footer__fet--link {
    margin-bottom: 1rem;
    font-size: 1.1rem; }
  .footer__copyright {
    font-size: 1.4rem;
    margin-top: 2rem; }
  .footer__social {
    display: none; }
  .footer__det {
    position: relative; }
    .footer__det::before {
      position: absolute;
      content: "";
      width: 20%;
      height: .1rem;
      left: 0;
      margin-top: 2rem;
      margin-left: -1.3rem;
      background: white; }
    .footer__det::after {
      position: absolute;
      content: "";
      width: 20%;
      height: .1rem;
      right: 0;
      top: 0;
      margin-right: -1.3rem;
      margin-top: 2rem;
      background: white; }
  @media (min-width: 914px) {
    .footer {
      padding: 4rem 0; }
      .footer__links {
        flex-direction: row;
        justify-content: space-between; }
      .footer__social {
        display: flex;
        margin-left: -10rem; }
        .footer__social li {
          margin-left: 4rem;
          align-self: center;
          position: relative; }
          .footer__social li img {
            width: 2rem; }
          .footer__social li img.f {
            width: 1rem; }
        .footer__social::after {
          content: "";
          position: absolute;
          width: .2rem;
          height: 6rem;
          background: white;
          margin-left: 10rem;
          margin-top: 9rem; }
      .footer__copyright {
        font-size: 1.4rem;
        margin-top: 9rem; } }
  @media (min-width: 1500px) {
    .footer__copyright {
      font-size: 1.4rem;
      margin-top: 12rem; }
    .footer__det::before {
      width: 30%;
      margin-top: 2rem;
      margin-left: -1.3rem; }
    .footer__det::after {
      width: 30%;
      margin-right: -1.3rem;
      margin-top: 2rem; } }
